<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title></title>
    style
         include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a> </li>
            <li><a href="">about</a> </li>
            <li><a href="">contact</a> </li>


        </ul>
    </nav>

    <div class="cont">
    <h1>FILL THE GIVEN FORM</h1> -->
    
    <form action="/" method="post" class="content">
        <input type="text" name="name" id="name" placeholder="Enter your name">

         <input type="text" name="age" id="age" placeholder="Enter your age">
        <textarea name="address" id="address" cols="10" rows="10"></textarea>
        <textarea name="more" id="more" cols="10" rows="10"></textarea>
         <button class="btn">Submit</button>
    </form>
    
</div>
</body>
</html>